<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Make</th>
            <th>Model</th>
            <th>Year</th>
            <th>Color</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in cars)
        {
            <CarViewRow car="@car" />
        }
    </tbody>
</table>

@code {
    [Parameter]
    public IEnumerable<ICar> cars { get; set; } = new List<Car>();
}
