@page "/color-tool"

<ToolHeader HeaderText=@title />

<ul>
    @foreach (var color in colors)
    {
        <li>@color.Name - @color.HexCode</li>
    }
</ul>


@code {
    string title = "Color Tool";

    IEnumerable<IColor> colors = new List<IColor>
    {
        new Color { Name = "red", HexCode="ff0000" },
        new Color { Name = "green", HexCode="00ff00" },
        new Color { Name = "blue", HexCode="0000ff" },
    };
}
